@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c093d;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  height: 5rem;
  a {
    color: whitesmoke;
    text-decoration: none;
    margin-right: 1rem;
    font-weight: bold;
  }
  #header-title {
    font-size: 3rem;
    margin: 0;
    margin-left: 4rem;
    color: whitesmoke;
    font-family: "Pacifico";
  }

  nav {
    display: flex;
    align-items: center;
    margin-right: 2rem;

    a {
      color: whitesmoke;
      text-decoration: none;
      margin-right: 1rem;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }

    #onLogin {
      display: flex;
      align-items: center;
    }

    #onNotLogin {
      display: flex;
      align-items: center;
    }
  }
}
@media only screen and (max-width: 768px) {
  .header #header-title {
    margin: 0px;
  }
  .header nav {
    margin: 0px;
  }
  #main-todo {
    flex-direction: column;
    height: auto;
  }
  #main-todo #quote-container {
    margin-top: 0.5rem;
    margin-left: 0px;
    width: 90%;
  }
  #main-list {
    width: 100%;
    ul {
      width: 80%;
    }
  }
}
