li {
  font-size: 2rem;
  color: whitesmoke;
}
.empty {
  margin-top: 3rem;
  color: red;
  font-size: 5rem;
  padding: 2rem;
  background-color: black;
  border-radius: 5rem;
  text-align: center;
}
